@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #eaf4f4;
  font-family: "Montserrat", sans-serif;
}

.changePassword {
  background-color: lightcoral;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: #497662;
  margin-top: 0rem;
}

.info-continer {
  display: flex;
  justify-content: space-evenly;
}

.info {
  background-color: #a4c3b2;
  width: 16rem;
  padding: 0rem 1rem;
  text-align: center;
  border-radius: 2rem;
  margin-bottom: 0.8rem;
  border: 2.5px solid;
  border-color: #6b9080;
}

.info h3 {
  font-size: 1.3rem;
}

.info h2 {
  font-size: 2rem;
  color: #2a604e;
}

.SelectMode {
  text-align: center;
  padding: 0.5rem;
}
.SelectMode button {
  width: 80px;
  height: 40px;
  border: none;
  background: #a4c3b2;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin: 0.5rem;
}

.SelectMode button:hover {
  background: #6b9080;
  color: white;
  border: 2px solid #6b9080;
  transition: all ease 0.5s;
}

.selectedBtn {
  background: #6b9080 !important;
  color: white;
  border: 2px solid #6b9080;
}

.hide {
  display: none;
}

.priview-continer {
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.control-container,
.clientChoose {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
}
.buttons button {
  margin: 0px 2px;
  width: 70px;
  height: 30px;
  border: none;
  background-color: #a4c3b2;
  color: white;
  font-size: 16px;
  border-radius: 10px;
}
#add:hover {
  background-color: #6b9080;
  cursor: pointer;
  transition: all 0.5s ease;
}

.afterChoose:hover {
  background-color: #6b9080;
  cursor: pointer;
  transition: all 0.5s ease;
}

.addNewAdv-input,
.editAdv-input {
  display: flex;
  flex-direction: column;
  width: 28rem;
  margin: auto;
  padding-bottom: 0.5rem;
}

.addNewAdv input,
.editAdv input {
  padding: 0.5rem;
  font-size: medium;
  margin: 0.2rem 0rem;
  margin-left: 17px;
  border: none;
  border-bottom: solid 1px #6b9080;
  background-color: #fafafa;
  outline: none;
  border-radius: 4px;
}

.addNewAdv,
.editAdv {
  padding: 0.5rem;
}

.continer_img > img {
  width: 90%;
  height: 80vh;
  object-fit: cover;
  margin-top: 3rem;
  border-radius: 3rem;
  border-color: whitesmoke;
  border: 3px solid whitesmoke;
}

#line1 {
  font-size: 6rem;
}

#line2,
#line3,
#line4 {
  font-size: 3.5rem;
}

#advSelect,
#clientChoose,
#changeDurationSelect {
  padding: 0.4rem;
  margin-bottom: 1rem;
  width: 11rem;
  border-radius: 10px;
  border-color: #6b9080;
  color: #6b9080;
  outline: none;
}

#advSelect option {
  padding: 0.3rem;
  border-radius: 10px;
}

.clients {
  text-align: center;
  margin-top: 1rem;
}
/* #clientChoose {
  margin-bottom: 0.4rem;
  padding: 0.4rem;
  width: 11rem;
  border-radius: 10px;
  border-color: #376996;
  color: #376996;
  outline: none;
} */

.clients-top {
  display: flex;
  justify-content: center;
}

.clients-toScreen {
  padding-inline: 0.5rem;
}

.clients-toScreen button {
  margin: 0px 2px;
  width: 190px;
  height: 30px;
  border: none;
  background-color: #a4c3b2;
  color: white;
  font-size: 16px;
  border-radius: 10px;
}

/* #addAdvToScreen:hover {
  background-color: #6b9080;
  cursor: pointer;
  transition: all ease 0.5s;
} */

#addAdvToScreenSelect,
#deleteAdvFromScreenSelect {
  padding: 0.4rem;
  margin-bottom: 1rem;
  width: 11rem;
  border-radius: 10px;
  border-color: #6b9080;
  color: #6b9080;
  outline: none;
}

#durationTimeAdd,
#changeDurationInput {
  padding: 0.4rem;
  border-radius: 10px;
  outline: none;
  border: solid 1px #6b9080;
}

#durationTimeAdd {
  width: 5.5rem;
}

.displayAdv {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  border-radius: 20px;
  justify-content: space-evenly;
}

#addButton,
#editButton {
  margin: 0px 2px;
  width: 150px;
  height: 38px;
  border: none;
  background-color: #a4c3b2;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  transition: all 0.5s ease;
}
#addButton:hover,
#editButton:hover {
  background-color: #6b9080;
}
.label-input {
  display: flex;
  justify-content: space-between;
}

.client {
  display: flex;
  justify-content: space-around;
  width: 10rem;
}

.connectionList ul {
  list-style: none;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #f44336;
  border-radius: 50%;
  display: inline-block;
  margin-top: 5px;
}

.adminControl {
  display: flex;
  margin-inline: 1.5rem;
  padding: 15px;
}

#changePassword,
#logOut,
#saveBtnAdvToScreen,
#deleteBtnAdvFromSceeen,
#SaveNewDuration {
  padding: 0.6rem;
  border-radius: 10px;
  outline: none;
  background-color: #a4c3b2;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: all ease 0.5s;
}

#changePassword {
  margin-right: 10px;
}

#changePassword:hover,
#logOut:hover,
#saveBtnAdvToScreen:hover,
#deleteBtnAdvFromSceeen:hover,
#SaveNewDuration:hover {
  background-color: #6b9080;
}

label {
  font-size: 20px;
  color: #4d7262;
}
