body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding: 2rem;
  font-size: 4rem;
}

.info-continer {
  display: flex;
  justify-content: space-evenly;
}

.info {
  background-color: royalblue;
  width: 18rem;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.info h3 {
  font-size: 1.3rem;
}

.info h2 {
  font-size: 2rem;
  color: coral;
}

.priview-continer {
  background-color: crimson;
  min-height: 50vh;
  display: flex;
}

.displayAdv {
  background-color: cyan;
  flex: 0.9;
}

.btn {
  background-color: #2196F3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
  display: block;
}

.btn:hover, .dropdown:hover .btn {
  background-color: #0b7dda;
}
