@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Assistant", sans-serif;
}

h1 {
  text-align: center;
  padding: 2rem;
  font-size: 4rem;
}

.info-continer {
  display: flex;
  justify-content: space-evenly;
}

.info {
  background-color: #e2e5eb;
  width: 16rem;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 2rem;
  margin-bottom: 2rem;
  border: 1px solid;
  border-color: #023047;
}

.info h3{
  font-size: 1.3rem;
}

.info h2{
  font-size: 2rem;
  color: #023047;
}

.SelectMode{
  text-align: center;
  padding: 1rem;
}
.SelectMode button{
  padding: 0.5rem;
  margin: 0.5rem;
}

.hide{
  display: none;
}

.priview-continer {
  align-items: center;
  text-align: center;
  margin-top: 1rem; 
}

.control-container, .clientChoose{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.buttons{
  display: flex;
}
.buttons button{
  padding: 0.5rem;
  margin: 0px 2px;
}

.addNewAdv-input, .editAdv-input{
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: auto;
  padding-bottom: 0.5rem;
}

.addNewAdv input,
.editAdv input {
  padding: 0.4rem;
  font-size: medium;
  margin: 0.2rem 0rem;
}

.addNewAdv,
.editAdv {
  padding: 0.5rem;
}

.continer_img > img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  margin-top: 3rem;
  border-radius: 3rem;
  border-color: whitesmoke;
  border: 3px solid whitesmoke;
}

#line1 {
  font-size: 6rem;
}

#line2,
#line3,
#line4 {
  font-size: 3.5rem;
}

#advSelect {
  padding: 0.2rem;
  margin: 1rem;
  width: 11rem;
}

#advSelect option {
  padding: 0.2rem;
}

.clients{
  text-align: center;
}
#clientChoose{
  margin-bottom: 1.5rem;
  padding: 0.4rem;
}
